/*Selector ID*/
#biografia {
    color: black;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 8px;
    text-align: justify; /* Justificar el texto */
}
#datos {
    color: black;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 8px;
}
#virtudes {
    color: black;
    padding-right: 28px;
    padding-left: 28px;
    padding-bottom: 8px;
    text-align: justify;
}
#frases {
    color: black;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
}
#galeriadepersonajes {
    color: black;
    padding-left: 28px;
    padding-right: 28px;
}
/* Estilos generales para el cuerpo, encabezado, texto y secciones */
  body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(139, 95, 95);
}
header {
    background-image: url("fondo-marron.jpg");
    background-size: cover;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
}
/* Estilos generales para el texto y las secciones principales */
strong {
    color:#000000;
}
h1 {
    color: bisque;
    text-shadow: #000000 0.1em 0.1em 0.1em;
}
h2 {
    color:rgb(105, 52, 52);
    padding-top: 25px;
    padding-left: 25px;
    font-size: 2rem; 
}
p {
    line-height: 1.5;
}
ul {
    line-height: 1.5;
    list-style-type: disc;
    text-align: justify;
}
/* Estilos para la barra de navegación */
.oscuro {
    background-color: rgb(105, 52, 52);
    color: white;
    text-align: center;
    text-shadow: #000000 0.1em 0.1em 0.2em;
    font-size: 2.3rem;
    padding: 1rem 0; /* padding para que no se vea el texto pegado a los bordes */
}
nav a {
    margin: 0 18px;
    text-decoration: none;
    color: #fff8ec;
}
/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    margin: 20px 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
th {
    background-color: rgb(105, 52, 52);
    color: #fff8ec;
}
/* Estilos para el footer */
footer {
    background-color: rgb(105, 52, 52);
    color: #fff8ec;
    text-align: center;
    padding: 1rem;
}
footer a {
    color: #fff8ec;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: 0 0.5rem; 
    font-size: 1.8rem; 
    display: inline-block; 
}
footer a:hover {
    color: rgb(196, 108, 108);
}
/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 5px 6px 8px rgb(105, 52, 52);
    border: 4px solid rgb(105, 52, 52);
    border-radius: 8px;
    margin-left: 12rem;
}
/* Estilos para el article */
article  {
    background-color: rgb(255, 236, 220);
    padding: 1rem;
    border-radius: 7px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}